@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
    background-color: #f8fafc;
}

@keyframes floatUp {
    0% {
        transform: translateY(0) scale(1) translateX(0);
        opacity: 1;
    }

    25% {
        transform: translateY(-100px) scale(1.2) translateX(10px);
        opacity: 0.9;
    }

    50% {
        transform: translateY(-200px) scale(1.2) translateX(-10px);
        opacity: 0.8;
    }

    100% {
        transform: translateY(-400px) scale(1.5) translateX(0);
        opacity: 0;
    }
}

.animate-float {
    animation: floatUp 2s ease-out forwards;
    pointer-events: none;
    will-change: transform, opacity;
}